@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('../public/font/Satoshi/Variable/Satoshi-Variable.ttf') format('truetype');
}

body {
  font-family: 'DM Sans';
  font-weight: 400;
  background-color: #141417;
}

.bg-dots-light {
  background-color: #f4f4f5;
  opacity: 1;
  background-image: radial-gradient(#c8c8de 0.5px, #f4f4f5 0.5px);
  background-size: 10px 10px;
}

.bg-dots-dark {
  background-color: #141417;
  opacity: 1;
  background-image: radial-gradient(#35353b 0.5px, #141417 0.5px);
  background-size: 10px 10px;
}

.bg-dots-med {
  background-color: #18181b;
  opacity: 1;
  background-image: radial-gradient(#3c3c44 0.5px, #18181b 0.5px);
  background-size: 10px 10px;
}
